<section class="inclusivity-section pb-3" id="inclusivity">
  <div class="container pt-3">
    <div class="mx-auto text-center mb-3">
      <h1 class="mx-auto my-0 text-white"><u><%= t(:inclusivity) %></u></h1>
    </div>

    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text-reversed text-justify">
          <h4 class="text-white text-lg-right"><%= t(:accessibility) %></h4>
          <p class="text-white-50 mb-0"><%= t(:accessibility_description).html_safe %></p>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7">
        <%= image_tag 'eva/inclusivity.png', class: 'img-fluid mb-3 mb-lg-0' %>
      </div>
    </div>

  </div>

</section>