<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase"><%= render partial: 'commons/logo_main', locals: { id: 'main-logo', width: 310, height: 103 } %></h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5"><%= t(:technologies_for_the_future) %></h2>
      <%= link_to t(:discover), '#about', class: 'btn btn-primary js-scroll-trigger' %>
    </div>
  </div>
</header>